﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "bookingconfirmed";
}
<script>

    function refresh() {

        var url = '@Url.Action("mainPage", "Lavitadolce")';

        window.location = url;

    }

</script>

<body>

    <h3>Your booking has been successfully confirmed</h3>

   <button id="bookingsuccessclose" onclick="refresh();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</body>
