﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel
        
    
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    @if (!Model.getDeliveryOn() && !Model.Debug)
                    {
                        <h1>Cloud Service Currently Offline please try again later. Please refresh your internet browser when trying again by closing and reopening this page.</h1>

                        <button id="hdclose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    }
                    else
                    {
                        using (Ajax.BeginForm("forceModify", "Lavitadolce", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "items", OnSuccess = "OnSuccessModify" }, null))
                        {

                <div id="deliverycontent">
                    <h4 class="modal-title">Force Modify</h4>

                    <p>Please enter details</p>
                    @for (int i = 0; i < Model.CurrentItemSelected().Modifiermodels.Count; i++)
                    {

                        if (@Model.CurrentItemSelected().Modifiermodels[i].forced == "Y")
                        {
                            <label for="name">@Model.CurrentItemSelected().Modifiermodels[i].BtnDesc</label>
                            @Html.RadioButtonFor(m => m.modBtnDesc, @Model.CurrentItemSelected().Modifiermodels[i].BtnDesc, new { @id = "radiobutton" })
                            @Html.HiddenFor(m => m.modPrice, @Model.CurrentItemSelected().Modifiermodels[i].price)
                        }


                    }

                </div>
                            <br />
                            <input id="submitmodify" type="submit" value="Done" data-toggle="modal" data-target="#forcedmodifiermodal" />
                           
                            <br />


                        }

                    }
                </div>
            </div>



        </div>
