﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "Ladolcevita";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Lavitadolce Asian Cuisine</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="m8_w62zUplS2O1xDkH4EIMAj0k4nypFm-qfGcQEkY4k" />
    <link rel="shortcut icon" href="~/Content/Lavitadolce/images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Lavitadolce/poschoice.css">


    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/dist/bootstrap-session-timeout.min.js"></script>

    <script>

        var divs = ["map1", "map2", "map3"];
function toggle(layer) {
    var d

    for (var i = 0; i < divs.length; i += 1) {
        d = document.getElementById(divs[i]);
        d.style.display = 'none';
    }
    d = document.getElementById(layer);
    d.style.display = '';

        }

        function OpenPage(page) {
    var url = "";

            if (page == "about") {
                url = '@Url.Action("About", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#tabs-4").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });
            }
            else if (page == "contact") {

                url = '@Url.Action("Contact", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#tabs-5").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });

            }
            else if (page == "approved") {

                url = '@Url.Action("approved", "Lavitadolce")';

            } else if (page == "declined") {

                url = '@Url.Action("declined", "Lavitadolce")';

            } else if (page == "delivery") {

                url = '@Url.Action("getDeliveryItem", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#tabs-1").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });

            }
            else if (page == "takeaway") {

                url = '@Url.Action("getDeliveryItem", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#tabs-1").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });


            } else if (page == "menu") {
                url = '@Url.Action("getMenuCatItem", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#tabs-1").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });

            } else if (page == "booking") {

                url = '@Url.Action("getBookingDialog", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#bookingitems").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });

            } else if (page == "delivery") {

                url = '@Url.Action("getDeliveryDialog", "Lavitadolce")';

                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (results) {
                        $("#deliveryid").html(results);
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });


            }else if (page == "findContactDelivery") {


                    if ($("#findcontactphoneid").val() == "") {
                        alert("phone field required");
                        return false;
                    }

                    url = '@Url.Action("findContactDelivery", "Lavitadolce")';


                    var phone = document.getElementById("findcontactphoneid").value;

                    $.ajax({
                        url: url,
                        type: "GET",
                        cache: true,
                        data: { phone: phone },
                        ajaxSend: function () {
                            $('#submitfindhdcontact').hide();
                            $("#processinghdphonesearch").show();
                            $('#hdsearchclose').hide();
                        },
                        success: function (results) {
                            $('head').append('<link rel="stylesheet" type="text/css" href="style.css">');
                            $("#deliveryid").html(results);

                            return false;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.status);
                            alert(textStatus);
                            alert(errorThrown);
                        },

                    });




            }else if (page == "searchdialoghd") {

                    url = '@Url.Action("getSearchDialog", "Lavitadolce")';


                    $.ajax({
                        url: url,
                        type: "GET",
                        cache: true,
                        data: { ordertype: "homedelivery" },
                        success: function (results) {
                            $("#searchhd").html(results);

                            return false;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.status);
                            alert(textStatus);
                            alert(errorThrown);
                        },

                    });




            }else if (page == "searchdialogTA") {

                    url = '@Url.Action("getSearchDialog", "Lavitadolce")';


                    $.ajax({
                        url: url,
                        type: "GET",
                        cache: true,
                        data: { ordertype: "takeaway" },
                        success: function (results) {
                            $("#searchTA").html(results);

                            return false;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.status);
                            alert(textStatus);
                            alert(errorThrown);
                        },

                    });




            }else if (page == "searchdialogBooking") {

                    url = '@Url.Action("getSearchDialog", "Lavitadolce")';


                    $.ajax({
                        url: url,
                        type: "GET",
                        cache: true,
                        data: { ordertype: "booking" },
                        success: function (results) {
                            $("#searchbooking").html(results);

                            return false;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.status);
                            alert(textStatus);
                            alert(errorThrown);
                        },

                    });




            }


    //This prevents the default behavior of the actual link (it will hit your controller action)
    return false;


}


        function getcss(css) {

            $.get(url, { cache: true }, function (css) {
                //Now that the stylesheet is in the browser cache, it will load instantly:

                $("head").append($("<link>", {
                    rel: "stylesheet",
                    type: "text/css",
                    href: resource.url
                }));

            }).then(function () {
                $.ajax({
                    url: url,
                    type: "GET",
                    data: { phone: phone },
                    success: function (results) {
                        $("#deliveryid").html(results);

                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                        alert(textStatus);
                        alert(errorThrown);
                    },

                });


            });


        }

function urlcall(qty) {
    // Now add markers

    var itemelement = document.getElementById('itemnohidden').value;

    var prefixurl = '@Url.Action("updateQty", "Lavitadolce")?itemno='

    var url = prefixurl + itemelement + "&" + "qty=" + String(qty);

    window.location = url;


}

function pay(value) {

    alert(value);
    var url = '@Url.Action("pay", "Lavitadolce")?';

    url = url + value;

    window.location = url;


}

function setitemno(itemno) {
    // Now add markers
    document.getElementById('itemnohidden').value = itemno

}

function myFunction(id) {

    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

function scrollToTop() {

    document.scrollTop = 0; // For Safari


}



function functionAlert(msg, myYes) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes").unbind().click(function () {
        confirmBox.hide();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.show();
}



function updateQty(func, id, itemno, nostock, forcemodcount) {


    var qty = document.getElementById(id).value;
    var forcemodifiercount = Number(forcemodcount);
    var url = '@Url.Action("updateQty", "Lavitadolce")';

    if (func == "deduct" && Number(qty) == 0) {
        return false;
    }

    if (nostock != null && nostock == "Y") {
        alert("Item out of stock, please choose again");
        return;

    }



    $.ajax({
        url: url,
        type: "GET",
        data: { itemno: itemno, func: func },
        success: function (results) {
             var qty = document.getElementById(id).value;

            if (func == "add") {

                document.getElementById(id).value = Number(qty) + Number(1);

                if (forcemodifiercount > 0) {

                            forceModify(itemno, id, nostock);
                            return false;
                }

                $("#items").html(results);


            } else if (func == "deduct") {

                if (Number(qty) - Number(1) >= 0) {
                    document.getElementById(id).value = Number(qty) - Number(1);
                     $("#items").html(results);
                    return false;
                } else {
                     $("#items").html(results);
                    return false;
                }

            }


        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert("Please create an order first before adding to shopping cart");
            //  alert(textStatus);
            //  alert(errorThrown);
        },

    });



    //This prevents the default behavior of the actual link (it will hit your controller action)
    return false;


}


        function forceModify(itemno, id, nostock) {

            if (nostock != null && nostock == "Y") {
                alert("Item out of stock, please choose again");
                return;

            }

           var qty = document.getElementById(id).value;
           var url = '@Url.Action("getForceModfier", "Lavitadolce")';
            $.ajax({
                url: url,
                type: "GET",
                data: {itemno: itemno},
                success: function (results) {
                    $("#forcedmodifiermodal").html(results);
                      var forceModifyButton = document.getElementById("forcedModifybutton");
                    forceModifyButton.click();
                   // document.getElementById(id).value = Number(qty) + Number(1);


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error force modifier");
                    //  alert(textStatus);
                    //  alert(errorThrown);
                },

            });


        }

        function modifysuccess() {
            var paymentbutton = document.getElementById("paymentbutton");
            paymentbutton.click();

        }

        function modify(itemno, actualitemno) {

              var url = '@Url.Action("getModifiers", "Lavitadolce")';
            $.ajax({
                url: url,
                type: "GET",
                data: {itemno: itemno, actualitemno: actualitemno},
                success: function (results) {
                    $("#items").html(results);


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error modifier");
                    alert(textStatus);
                    alert(errorThrown);
                },

            });



        }


function showStuff(element) {
    var tabContents = document.getElementsByClassName('tabContent');
    for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = 'none';
    }


    var tabContentIdToShow = element.id.replace(/(\d)/g, '-$1');
    document.getElementById(tabContentIdToShow).style.display = 'block';
}

 function OnSuccess(data) {
    // showStuff(document.getElementById('tabs2'));
        }

 function OnSuccessModify(data) {

    // showStuff(document.getElementById('tabs2'));
}

function recallbill(name) {

    if (name == null || name == "") {

        alert("Please create an order first");
        return false;


    }

    var paymentbutton = document.getElementById("paymentbutton");
    paymentbutton.click();


}



function reload() {

    var url = '@Url.Action("mainPageSession", "Lavitadolce")';


    window.location = url;



}



$(document).ready(function () {


    $("#submithdcontact").click(function () {


        if ($("#findphoneid").val() == "") {
            alert("phone field required");
            return false;
        }


    });


    $("#submithd").click(function () {
        if ($("#nameid").val() == "") {
            alert("name field required");
            return false;
        }

        if ($("#phoneid").val() == "") {
            alert("phone field required");
            return false;
        }

        if ($("#addressid").val() == "") {
            alert("address field required");
            return false;
        }

        if ($("#suburbid").val() == "") {
            alert("suburb field required");
            return false;
        }

        $("#hdclose").click();
        return true;


    });


    $("#submitta").click(function () {
        if ($("#tanameid").val() == "") {
            alert("name field required");
            return false;
        }

        if ($("#taphoneid").val() == "") {
            alert("phone field required");
            return false;
        }


        $("#taclose").click();
        return true;


    });

    $("#submitmodify").click(function () {
        if ($("#radiobutton").val() == "") {
            alert("selection field required");
            return false;
        }

        return true;


    });



});

        function reloadmain() {

            OpenPage("menu");
            //  OpenPage("about");

            OpenPage("contact");
            OpenPage("booking");

        }


        window.onload = function () {


            OpenPage("menu");
          //  OpenPage("about");

            OpenPage("contact");
            OpenPage("searchdialogBooking");

            OpenPage("searchdialoghd");
            OpenPage("searchdialogTA");


            showStuff(document.getElementById("tabs1"));


        };


var url = '@Url.Action("expired", "Lavitadolce")';
$.sessionTimeout({
    redirUrl: url,
    warnAfter: 3000,
    redirAfter: 900000, //expire in 15mins
    onWarn: function () {
        // alert('Warning Session about to expire!');
    }
});




    </script>

</head>

<body id="mainbody">
    <div data-role="page" data-theme="true">

        <div data-role="content">
            <div class="container">
                <!-- Modal -->
                <div id="takeawaymodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>

                            <div id="takeawayid" class="modal-body">
                                @if (Model.getTakeawayOn() && !Model.getOffOnline() && !Model.Debug)
                                {

                                    <div id="searchTA">

                                    </div>


                                }
                                else
                                {
                                    <h1>Out off operating hours. Cloud Service Currently Offline please try again later. Please refresh your internet browser when trying again by closing and reopening this page.</h1>

                                    <button id="taclose" type="button" class="btn btn-default" data-dismiss="modal" onclick="showStuff(document.getElementById('tabs1'));">Close</button>


                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <!-- Modal -->
                    <div id="deliverymodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div id="deliveryid" class="modal-body">
                                    @if (@Model.getDeliveryOn() && !@Model.getOffOnline() && !@Model.Debug)
                                    {
                                        <div id="searchhd">

                                        </div>

                                    }
                                    else
                                    {

                                        <h1>Home delivery cloud service opens in the evening only, please try our pick up cloud service which opens both afternoons and evenings.</h1>

                                        <button id="hdclose" type="button" class="btn btn-default" data-dismiss="modal" onclick="showStuff(document.getElementById('tabs1'));">Close</button>


                                    }
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <!-- Modal -->
                <div id="forcedmodifiermodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">


                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>

                            <div class="modal-body">
                                <h4 class="modal-title">Modifiers:</h4>
                                <div id="modifiers" style="margin-left:1%">
                                    <h3>No items selected yet</h3>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <!-- Modal -->
                <div id="modifiermodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog" style="z-index: 1240; position: absolute">
                    <div class="modal-dialog">


                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>

                            <div class="modal-body">
                                <h4 class="modal-title">Modifiers:</h4>
                                <div id="modifieritems" style="margin-left:1%">
                                    <h3>No items selected yet</h3>
                                    <button type="button" data-toggle="modal" data-target="#modifiermodal"> Close </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="container">
                <!-- Modal -->
                <div id="paymentsummarymodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">


                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>

                            <div class="modal-body">
                                <h4 class="modal-title">Payment Summary</h4>
                                <div id="items" style="margin-left:1%">
                                    <h3>No items selected yet</h3>
                                    @if (Model == null || Model.name == null || Model.name.Trim() == "")
                                    {
                                        <button id="paymentclose" class="btn btn-default" data-dismiss="modal">Back</button>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <!-- Modal -->
                <div id="bookingmodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">


                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>

                            <div id="bookingitems" class="modal-body">     
                                
                                    <div id="searchbooking">

                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="minorcontact"></div>
            <div class="title">La dolce vita - App</div>
            <br />
            <div class="navbar">
                <!--    <a id="tabs4" onclick="showStuff(this);" style="font-size:11px;">About</a> -->
                <a id="tabs1" onclick="showStuff(this);">Menu</a>
                <!--     <a id="tabs2" onclick="showStuff(this);" data-toggle="modal" data-target="#deliverymodal" style="color: red;">Create Delivery!</a>
                <a id="tabs3" onclick="showStuff(this);" data-toggle="modal" data-target="#takeawaymodal" style="color: red;">Create Pickup!</a>    -->
                <a id="tabs5" onclick="showStuff(this);" style="font-size:11px;">Contact</a>
            </div>

            <div id="tabs-4" class="tabContent">
                <p>Please create an order...</p>
            </div>
            <div id="tabs-1" class="tabContent">
                <p>Loading page...</p>
            </div>

            <div id="tabs-2" class="tabContent">
                <p>Loading page...</p>
            </div>
            <div id="tabs-3" class="tabContent">
                <p>Loading page...</p>
            </div>
            <div id="tabs-5" class="tabContent">
                <p>Please create an order...</p>
            </div>




        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    @Scripts.Render("~/bundles/jquerymobile")




</body>
</html>


