﻿@{
    ViewBag.Title = "Bambusa Chinese Restaurant Manuka";
}


<style>

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

    a:link {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<h2> Contact</h2>

<h5>
    Address
    <span> 36 Franklin St, Griffith ACT 2603, Canberra</span>
</h5>


<div>

    <h3>Pick up online orders start after 5:00pm each business day</h3>

    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d104100.9027689956!2d149.0561206121574!3d-35.376655841568144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-35.4418688!2d149.0944!4m5!1s0x6b164ce8b3f868c3%3A0x24f17f05160d7a30!2sbambusa%20chinese%20restaurant%20manuka!3m2!1d-35.319860299999995!2d149.1326243!5e0!3m2!1sen!2sau!4v1592406365238!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


</div>
