﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "declined";
}

<h3 style="color: red;">DECLINED</h3>

@if (@Model.approved == null || @Model.approved != "APPROVED")
{
    <label for="cardnumber" style="width:80px">Card number:</label>
    @Html.TextBoxFor(m => m.cardnumber, new { @required = "required" })
    <br />
    <label for="cardmonth" style="width:80px">Card expiry date:</label>
    @Html.DropDownListFor(m => m.cardexpirymonth, Model.MonthList, new { @id = "cardexpirymonthid" })
    @Html.DropDownListFor(m => m.cardexpiryyear, Model.YearList, new { @id = "cardexpiryyearid" })
    <p> (Month/Year)</p>
    <br />
    <label for="cardcvv" style="width:80px">Card cvv number:</label>
    @Html.TextBoxFor(m => m.cardcvv, new { @required = "required" })
    <br />

}
<br />
<div id="processing" style="display: none"><h5>processing please wait...</h5></div>
<button id="submitpayment" style="width: 100px; float: left;" class="btn btn-default" type="submit" onclick="return paymentclick();">Pay Card</button>
<button id="paymentclosedialog" style="width: 100px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Back</button>


