﻿
@{
    ViewBag.Title = "expiredSession";
}

<script>

    function home() {
        // Now add markers
        var url = '@Url.Action("mainPage", "Bambusa")'
        window.location = url;
        
    }

</script>

<body style="background-color: green;">

    <h1>Your session at Bambusa Website has expired.</h1>

    <button style="font-size: 15px;" onclick="home();">Bambusa Home Page</button>

</body>