﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}

<script>

     function createOrderTA() {


            var url = '@Url.Action("createOrderNonModelTA", "Bambusa")';
            var name = document.getElementById("tanameid").value;
            var phone = document.getElementById("taphoneid").value;


         if (String(name) == "") {
             alert("Name required");
             return;


         }

         if (String(phone) == "") {
             alert("Phone required");
             return;


         }

            $.ajax({
                url: url,
                type: "POST",
                data: { name: name, phone: phone },
                success: function (results) {
                    $("#tabs-1").html(results);
                    OnSuccess();
                    var closebutton = document.getElementById("taclose");
                    closebutton.click();
                },


            });

            return false;
    }




</script>

@if (Model.email == null || Model.email.Trim() == "")
{

    <h1>Cannot find details</h1>
    <div class="w3-container" id="deliverycontent">
        <h4 class="modal-title">Take away</h4>

        <p>Please enter details</p>
        <label for="name">Name:</label>
        <input id="tanameid" class="w3-input" type="text" value="">

        <br />
        <label for="name">Phone:</label>
        <input id="taphoneid" class="w3-input" type="text" value="">
        <br />
        <input id="submitta" onclick="createOrderTA();" style="width: 120px; float: left;" type="button" value="Create Order" />
        <button onclick="showStuff(document.getElementById('tabs1'));" id="taclose" style="width: 120px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <br />
    </div>

   
}
else
{

<div class="w3-container" id="deliverycontent">
    <h4 class="modal-title">Take away</h4>

    <p>Please enter details</p>
    <label for="name">Name:</label>
    <input id="tanameid" class="w3-input" type="text" value="@Model.name">

    <br />
    <label for="name">Phone:</label>
    <input id="taphoneid" class="w3-input" type="text" value="@Model.phone">
    <br />

    <input id="submitta" onclick="createOrderTA();" style="width: 120px; float: left;" type="button" value="Create Order" />
    <button onclick="showStuff(document.getElementById('tabs1'));" id="taclose" style="width: 120px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <br />
</div>


}