﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}
<script>

    function refresh() {

        var url = '@Url.Action("mainPage", "GarysKitchen")';

        window.location = url;

    }

</script>

<body>

   
    <h3>Your Order has been successfully paid, deliveries will be delivered within the 1 hour, pickups ready in 15 - 20 mins</h3>

        <button id="paymentsuccessclose" onclick="refresh();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>



</body>
