﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}

<script>

     function createOrder() {


          //  hiddenValidation();
            var url = '@Url.Action("createOrderNonModel", "GarysKitchen")';
            var name = document.getElementById("nameid").value;
            var phone = document.getElementById("phoneid").value;
            var address = document.getElementById("addressid").value;
            var suburb = document.getElementById("suburbid").value;
            $.ajax({
                url: url,
                type: "POST",
                data: { name: name, phone: phone, address: address, suburb: suburb },
                success: function (results) {
                    $("#tabs-1").html(results);
                    OnSuccess();
                    var closebutton = document.getElementById("hdclose");
                    closebutton.click();
                },


            });

            return false;
    }




</script>

@if (Model.email == null || Model.email.Trim() == "")
{

    <h1>Cannot find details</h1>
    <div class="w3-container" id="deliverycontent">
        <h4 class="modal-title">Delivery</h4>

        <p>Please enter details</p>
        <label for="name">Name:</label>
        <input id="nameid" class="w3-input" type="text" value="">

        <br />
        <label for="name">Phone:</label>
        <input id="phoneid" class="w3-input" type="text" value="">
        <br />
        <label for="name">Address:</label>
        <input id="addressid" class="w3-input" type="text" value="">
        <br />
        <label for="name">Suburb (mandatory*):</label>
        @if (@Model.TransferItems != null)
        {
            @Html.DropDownListFor(m => m.itemno, Model.TransferItems, new { @id = "suburbid", style = "width: 200px; height: 30px" })

        }
        <br />
    </div>
    <br />
    <input id="submithd" onclick="createOrder();" style="width: 120px; float: left;" type="button" value="Create Order">
    <button id="hdclose" onclick="showStuff(document.getElementById('tabs1'));" style="width: 120px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <br />
}
else
{

    <div class="w3-container" id="deliverycontent">
        <h4 class="modal-title">Delivery</h4>

        <p>Please enter details</p>
        <label for="name">Name:</label>
        <input id="nameid" class="w3-input" type="text" value="@Model.name">

        <br />
        <label for="name">Phone:</label>
        <input id="phoneid" class="w3-input" type="text" value="@Model.phone">
        <br />
        <label for="name">Address:</label>
        <input id="addressid" class="w3-input" type="text" value="@Model.address">
        <br />
        <label for="name">Suburb (mandatory*):</label>
        @if (@Model.TransferItems != null)
        {
            @Html.DropDownListFor(m => m.itemno, Model.TransferItems, new { @id = "suburbid", style = "width: 200px; height: 30px" })

        }
        <br />
    </div>
    <br />
    <input id="submithd" onclick="createOrder();" style="width: 120px; float: left;" type="button" value="Create Order">
    <button id="hdclose" onclick="showStuff(document.getElementById('tabs1'));" style="width: 120px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <br />

}