﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}
<script>

    function refresh() {

        var url = '@Url.Action("mainPage", "GarysKitchen")';

        window.location = url;

    }

</script>

<body>

   
    <h3>Your order has been successfully confirmed, pickups ready in 20 - 30 mins, deliveries ready within 1 hour</h3>

        <button id="paymentsuccessclose" onclick="refresh();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>



</body>
