﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paymentdialog";
}


<script src="https://js.stripe.com/v3/"></script>
<script>

    function paid(amount) {

        var url = '@Url.Action("payment", "Test")';

    $.ajax({
        url: url,
        type: "GET",
        data: { amount: amount },
        success: function (results) {
            return true;

        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.status);
            alert(textStatus);
            alert(errorThrown);
        },


    });
        return false;

    }


    function validateContact() {

         if ($("#emailpaymentid").val() == "") {
            alert("email field required");
            return false;
        }

        if ($("#cashcardid").val() == "") {
            alert("Please inform your payment type: cash or card?");
            return false;
        }


        
        hidden();

        var url = '@Url.Action("validateContact", "Test")';
        var email = String(document.getElementById("emailpaymentid").value);
        var cashcard = String(document.getElementById("cashcardid").value);
        $.ajax({
            url: url,
            type: "GET",
            data: { email: email, cashcard: cashcard },
            success: function (results) {

                $("#items").html(results);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
                alert(textStatus);
                alert(errorThrown);
            },
        });

        return false;
    }


    function paymentclick(amount) {

        var clientSecret = "";

    hidden();
    var url = '@Url.Action("pay", "Test")';

    $.ajax({
        url: url,
        type: "GET",
        datatype: "JSON",
        contentType: "application/json;charset=utf-8",
        data: { amount: amount },
        success: function (results) {

             clientSecret = results.clientsecret;
           // alert(ClientSecret);
        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card
            }
        }).then(function (result) {

            if (result.error) {
                // Show error to your customer (e.g., insufficient funds)
                showAll();
                alert("Declined Transaction, please try agagin");
                console.log(result.error.message);
            } else {

                // The payment has been processed!
                if (result.paymentIntent.status === 'succeeded') {
                    paid(amount);
                    alert("Succeeded payment\n\nYour Order has been successfully paid, deliveries will be delivered within the 1 hour, pickups ready in 30 mins");
                    var backButton = document.getElementById("paymentclosedialog");
                    backButton.click();
                    location.reload();
                    // Show a success message to your customer
                    // There's a risk of the customer closing the window before callback
                    // execution. Set up a webhook or plugin to listen for the
                    // payment_intent.succeeded event that handles any business critical
                    // post-payment actions.
                }
            }
        });


        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.status);
            alert(textStatus);
            alert(errorThrown);
        },

    });


        return false;


    }

    function hidden() {

        $.ajaxSetup({
            beforeSend: function () {
                // show gif here, eg:
                $("#processing").show();
                $('#confirmcontact').hide();
                $('#paymentclosedialog').hide();
            },
            complete: function () {
                // hide gif here, eg:
                 $("#processing").hide();
                $('#confirmcontact').show();
                $('#paymentclosedialog').show();
            }
        });
    }
        function showPaymentDialog() {

            $("#processing").hide();
            $('#confirmcontact').show();
            $('#paymentclosedialog').show();

        };

    


    $("#submitmodify").click(function () {
        if ($("#radiobutton").val() == "") {
            alert("selection field required");
            return false;
        }

        return true;


    });

    


    window.onload = function () {


        showAll();


        };



    function show() {

        $.ajax({
            success: function () {
                // do something

                var paymentclosebutton = document.getElementById("paymentclosedialog");
                paymentclosebutton.style.display = "block";

                var processingbar = document.getElementById("processing");
                processingbar.style.diplay = "none";


            }
        });
    }


    function showAll() {

        $('#submitpayment').show();
        $('#paymentclosedialog').show();
        $("#processing").hide();

    }
   
    // A reference to Stripe.js initialized with your real Test publishable API key.
    var stripe = Stripe('pk_live_yXxKTaVfdkgQQ3xyaCK8sXGp00D9nErvsC', {
  stripeAccount: "acct_1H04BzHkIdluiEg0"
    });

  //  var stripe = Stripe("pk_live_yXxKTaVfdkgQQ3xyaCK8sXGp00D9nErvsC");
 //   var stripe = Stripe("pk_Test_51GuFRFGSzY6XVzcspooKuyVIwxLpm8gUu6MILROJei6FrtEegl0XnI7H1mN2ydKenuyjfe2kOpK2wVVgHjLmKYwL00X9ed1Bax");

// The items the customer wants to buy

    var elements = stripe.elements();



var form = document.getElementById('payment-form');


  var style = {
  base: {
    color: "#32325d",
  }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");


    card.on('change', ({error}) => {
  const displayError = document.getElementById('card-errors');
  if (error) {
    displayError.textContent = error.message;
  } else {
    displayError.textContent = '';
  }
    });



</script>

<hiddeninput id="clientsecret" value="@ViewData["ClientSecret"]" />
<form id="payment-form">
    <div id="total" style="left: initial; margin-left: 1%">

        @{
            double total = 0;
            var suburb = "";

            if (Model != null && Model.RecallItems != null)
            {
                <div>
                    @for (int i = 0; i < Model.RecallItems.Count; i++)
                    {

                        if (Model.RecallItems[i].discountflag == null || Model.RecallItems[i].discountflag == "" || Model.RecallItems[i].discountflag == "N")
                        {

                            if (!@Model.RecallItems[i].isSpecial())
                            {
                                <div style="font-size: 10px; padding-bottom: 10px; word-wrap: normal;">
                                    <button style="align-self:center; font-size: 15px; color: white; background: green;" onclick="return updateQty('add', '@Model.RecallItems[i].getinputboxstr()', '@Model.RecallItems[i].itemno')">+</button><input style="width: 30px; font-size: 15px; color: black;" type="button" value="@Model.RecallItems[i].itemqty" /><button style="align-self:center; font-size: 15px; color: white; background: green;" onclick="return updateQty('deduct', '@Model.RecallItems[i].getinputboxstr()', '@Model.RecallItems[i].itemno')">-</button> <span style="font-size: 15px;">$@String.Format("{0:0.00}", @Math.Round(@Model.RecallItems[i].itemprice, 2)) @Model.RecallItems[i].itemname.Trim().ToUpper()</span>


                                    @if (@Model.CurrentItemSelected(@Model.RecallItems[i].actualitemno).getNonForcedModifiers().Count() > 0 && @Model.RecallItems[i].itemqty == 1)
                                    {

                                        <button type="button" style="align-self:center; font-size: 15px; color: white; background: green;" onclick="return modify('@Model.RecallItems[i].itemno', '@Model.RecallItems[i].actualitemno')"> Customise </button>
                                        <hiddenbutton type="button" id="modifybutton" data-toggle="modal" data-target="#modifiermodal"></hiddenbutton>


                                    }

                                </div>

                            }
                            else
                            {
                                <div style="font-size: 15px; padding-left: 90px; padding-bottom: 10px; word-wrap: normal;">
                                    @Model.RecallItems[i].itemqty X $@String.Format("{0:0.00}", @Math.Round(@Model.RecallItems[i].itemprice, 2)) @Model.RecallItems[i].itemname.Trim().ToUpper()
                                </div>
                            }


                        }
                        else
                        {
                            suburb = "\t DELIVERY CHARGE " + " at " + "$" + @String.Format("{0:0.00}", @Math.Round(@Model.RecallItems[i].itemprice, 2));

                        }



                        total = total + @Model.RecallItems[i].itemqty * @Model.RecallItems[i].itemprice;
                    }
                </div>
                <br />
                <div style="font-size: 15px;">@suburb</div>
                <br />
                <p>---------------------------------------------</p>
                <h4>Order Total: $@String.Format("{0:0.00}", @Math.Round(total, 2))</h4>
                <p>---------------------------------------------</p>
            }
            else
            {
                <h3>No Items Selected Yet</h3>
            }

        }

        @if ((total >= 50 && Model.OrderType == "homedelivery") || Model.OrderType == "takeaway")
        {
            <!--   <h5>Please enter credit card details below:</h5> -->
            <!--    <div id="card-element">

        </div>
        -->
            <!-- We'll put the error messages in this element -->
            <!--    <div id="card-errors" role="alert"></div> -->
            <!--
        <br />
        <br />
        <div id="processing" style="display: none"><h5>processing please wait...</h5></div>
        <button id="submitpayment" data-secret="@ViewData["ClientSecret"]" style="width: 100px; float: left;" class="btn btn-default" type="submit" onclick="return paymentclick('@String.Format("{0:0.00}", @Math.Round(total, 2))');">Pay Card</button>
        <button id="paymentclosedialog" style="width: 100px; float: right;" type="button" class="btn btn-default" data-dismiss="modal">Back</button>

        -->

            <label>*Enter your email:</label>
            <input id="emailpaymentid" type="text" class="w3-input" value="@Model.email" style="width: 300px;" />            
            <br />
            <label for="name">*please advise preferred method of payment?</label>           
            <select style = "width: 100px; height: 30px; display: table-cell;" name="cashcard" id="cashcardid">
                <option value=""></option>
                <option value="cash">CASH</option>
                <option value="card">CARD</option>
            </select>

            <br />
            <br />

            <div id="processing" style="display: none"><h5>processing please wait...</h5></div>


            <button id="confirmcontact" style="width: 120px; float: left; font-weight: bold;" type="button" onclick="return validateContact()">Confirm Order</button>
            <button id="paymentclosedialog" style="width: 100px; float: right; font-weight: bold;" type="button" data-dismiss="modal">Back</button>

        }
        else
        {

            <h4 style="font-weight: bold; color: red;">*Home delivery orders must be minimum $50</h4>
            <button id="paymentclosedialog" type="button" style="width: 100px; float: right; font-weight: bold;" data-dismiss="modal">Back</button>


        }

        <br />


    </div>

</form>

