﻿@{
    ViewBag.Title = "Spring Garden Chinese Restaurant Kambah";
}


<style>

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

    a:link {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<h2> Contact</h2>

<h5>
    Address
    <span> 1 Primmer Court Kambah Villiage, Canberra</span>
</h5>

<div>

    <h3>online services will be turned on at 5:00pm each operating day</h3>

   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3253.026408096807!2d149.05589241578238!3d-35.3798010064809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b17b5a7870b5665%3A0x400a54ea8e66104e!2sKambah%20Inn!5e0!3m2!1sen!2sau!4v1580093770219!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>
