﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script>

    function home() {
        // Now add markers
        var url = '@Url.Action("mainPage", "SpringGarden")'
        window.location = url;

    }

    </script>

</head>
<body>
    <div>
        <h1>Online Delivery is currently offline, please try again later on opening hours (see Contact page for details) 
            or call (02) 6296 3111 to make your order</h1>

        <button style="font-size: 15px;" onclick="home();">Back</button>



    </div>
</body>
</html>
