﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "search";
}

<script>



    function findContactTA() {

        if ($("#findcontactphoneid").val() == "" && $("#findcontactphonetakeawayid").val() == "") {
            alert("phone field required");
            return false;
        }

        hiddenSearchTA();

        url = '@Url.Action("findContactTA", "SpringGarden")';


        var phone = document.getElementById("findcontactphonetakeawayid").value;

        $.ajax({
            url: url,
            type: "GET",
            cache: true,
            data: { phone: phone },
            success: function (results) {
                $('head').append('<link rel="stylesheet" type="text/css" href="style.css">');
                $("#takeawayid").html(results);

                return false;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
                alert(textStatus);
                alert(errorThrown);
            },

        });

    }


    function findContact() {

        if ($("#findcontactphoneid").val() == "" && $("#findcontactphonetakeawayid").val() == "") {
            alert("phone field required2");
            return false;
        }

        hiddenSearch();

        url = '@Url.Action("findContactDelivery", "SpringGarden")';


        var phone = document.getElementById("findcontactphoneid").value;

        $.ajax({
            url: url,
            type: "GET",
            cache: true,
            data: { phone: phone },
            success: function (results) {
                $('head').append('<link rel="stylesheet" type="text/css" href="style.css">');
                $("#deliveryid").html(results);

                return false;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
                alert(textStatus);
                alert(errorThrown);
            },

        });

    }

    function findContactBooking() {

        if ($("#findcontactphoneid").val() == "" && $("#findcontactphonebookingid").val() == "") {
            alert("phone field required");
            return false;
        }

        hiddenSearchBooking();

        url = '@Url.Action("findContactBooking", "SpringGarden")';


        var phone = document.getElementById("findcontactphonebookingid").value;

        $.ajax({
            url: url,
            type: "GET",
            cache: true,
            data: { phone: phone },
            success: function (results) {
                $('head').append('<link rel="stylesheet" type="text/css" href="style.css">');
                $("#bookingitems").html(results);

                return false;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
                alert(textStatus);
                alert(errorThrown);
            },

        });

    }


    function hiddenSearchBooking() {


        $('#submitfindbookingcontact').hide();
        document.getElementById("searchprogressid").style.display = "block";
        $("#bookingsearchclose").hide();


    }


    function hiddenSearch() {


        $('#submitfindhdcontact').hide();
        document.getElementById("searchprogressid").style.display = "block";
        $("#hdsearchclose").hide();


    }


    function hiddenSearchTA() {


        $('#submitfindtacontact').hide();
   //     $('#searchprogressid').show();
        $("#tasearchclose").hide();


    }





</script>

@if (!Model.confirmDetails)
{



    if (Model.OrderType == "homedelivery")
    {
        <div class="w3-container" id="deliverycontent">
            <h4 class="modal-title">Delivery</h4>

            <p>Please enter details</p>
            <h4>*Please enter contact number and click find, finding your contact details may take a few seconds to process...</h4>

            <label for="name">Phone:</label>
            <input id="findcontactphoneid" class="w3-input" type="text" value="">


        </div>
        <br />

        <div id="searchprogressid" style="display: none;">
            <h4>*Please wait to find your contact details, this may take a few seconds to process...</h4>
        </div>
        <br />
        <button id="submitfindhdcontact" onclick="findContact();" style="width: 120px; float: left;" type="button">Find</button>
        <button id="hdsearchclose" onclick="showStuff(document.getElementById('tabs1'));" type="button" class="btn btn-default" style="width: 120px; float: right;" data-toggle="modal" data-target="#deliverymodal">Close</button>
        <br />

    }
    else if (Model.OrderType == "takeaway")
    {
        <div class="w3-container" id="takeawaycontent">
            <h4 class="modal-title">Take away</h4>

            <p>Please enter details</p>
            <h4>*Please enter contact number and click find, finding your contact details may take a few seconds to process...</h4>

            <label for="name">Phone:</label>
            <input id="findcontactphonetakeawayid" class="w3-input" type="text" value="">


        </div>
        <br />

        <div id="searchprogressid" style="display: none">
            <h4>*Please wait to find your contact details, this may take a few seconds to process...</h4>
        </div>
        <br />
        <button id="submitfindtacontact" onclick="findContactTA();" style="width: 120px; float: left;" type="button">Find</button>
        <button id="tasearchclose" onclick="showStuff(document.getElementById('tabs1'));" type="button" class="btn btn-default" style="width: 120px; float: right;" data-toggle="modal" data-target="#takeawaymodal">Close</button>
        <br />

    }
    else if (Model.OrderType == "booking")
    {
        <div class="w3-container" id="bookingcontent">
            <h4 class="modal-title">Booking:</h4>

            <p>Please enter details</p>
            <h4>*Please enter contact number and click find, finding your contact details may take a few seconds to process...</h4>

            <label for="name">Phone:</label>
            <input id="findcontactphonebookingid" class="w3-input" type="text" value="">


        </div>
        <br />

        <div id="searchprogressid" style="display: none">
            <h4>*Please wait to find your contact details, this may take a few seconds to process...</h4>
        </div>
        <br />
        <button id="submitfindbookingcontact" onclick="findContactBooking();" style="width: 120px; float: left;" type="button">Find</button>
        <button id="bookingsearchclose" onclick="showStuff(document.getElementById('tabs1'));" type="button" class="btn btn-default" style="width: 120px; float: right;" data-toggle="modal" data-target="#bookingmodal">Close</button>
        <br />

    }

}