﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

<script>


    function validateDetails(email, ordertype) {


            hiddenValidation();
            var url = '@Url.Action("validateDetails", "SpringGarden")';
            var id = document.getElementById("pinid").value;
            document.getElementById("emailid").value = email;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id, ordertype: ordertype },
                success: function (results) {

                    if (ordertype == "homedelivery") {
                        $("#deliveryid").html(results);

                    } else if (ordertype == "takeaway") {
                        $("#takeawayid").html(results);

                    } else {
                        $("#bookingitems").html(results);
                        bookingFunction();
                    }
                },


            });

            return false;
    }

    function validate() {


            hiddenValidation();
            var url = '@Url.Action("validate", "SpringGarden")';
            var id = document.getElementById("pinid").value;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id },
                success: function (results) {
                    $("#items").html(results);
                },


            });

            return false;
    }

    $("#validateid").click(function () {
        if ($("#emailid").val() == "") {
            alert("name field required");
            return false;
        }

        if ($("#mobileid").val() == "") {
            alert("phone field required");
            return false;
        }

        return true;


    });



        function validateBooking() {


            hiddenValidation();
            var url = '@Url.Action("validateBooking", "SpringGarden")';
            var id = document.getElementById("pinid").value;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id },
                success: function (results) {
                    $("#bookingitems").html(results);
                },


            });

            return false;
    }

            function ModelackBookingTable() {

            hiddenValidation();
            var url = '@Url.Action("bookingTable", "SpringGarden")';

            $.ajax({
                url: url,
                type: "GET",
                data: { },
                success: function (results) {
                    $("#bookingitems").html(results);


                },


            });

            return false;
    }


            function back() {


            hiddenValidation();
            var url = '@Url.Action("back", "SpringGarden")';

            $.ajax({
                url: url,
                type: "GET",
                data: { },
                success: function (results) {

                    $("#items").html(results);

                },


            });

            return false;
    }

    $("#validateid").click(function () {
        if ($("#emailid").val() == "") {
            alert("name field required");
            return false;
        }


        return true;


    });


    function hiddenValidation() {


        $('#validateid').hide();
        $("#processingvalidation").show();
        $('#closevalidationid').hide();


    }


    function showValidationDialog() {

        $('#validateid').show();
        $("#processingvalidation").hide();
        $('#closevalidationid').show();

    };




    function showValidation() {

        $.ajax({
            success: function () {
                // do something

                var paymentclosebutton = document.getElementById("validateid");
                paymentclosebutton.style.display = "block";

                var paymentclosebutton = document.getElementById("closevalidationid");
                paymentclosebutton.style.display = "block";

                var processingbar = document.getElementById("processingvalidation");
                processingbar.style.diplay = "none";


            }
        });
    }


</script>

<h1>@ViewBag.Invalid</h1>

<h2> Please enter the pin sent to your email to confirm contact </h2>
<br />
<br />
<label>Pin:</label>
<input id="pinid" type="number" value="" />
<br />
<br />

<label>Email:</label>
<input id="emailid" type="text" value="@Model.email" />
<br />
<br />

<div id="processingvalidation" style="display: none"><h5>processing please wait...</h5></div>
<br />



@if (Model.OrderType == "booking")
{
    <h4>*if email has a typo or is incorrect, please click on cancel button and try again</h4>
    <!--    <input type="button" class="btn btn-default" style="width: 120px; float: left;" value="Resend Pin" /> -->
}
else
{

    <h4>*if email has a typo or is incorrect, please click on back button to go back to last page to ammend</h4>
    <!--    <input type="button" class="btn btn-default" style="width: 120px; float: left;" value="Resend Pin" /> -->


}

@if (Model.OrderType == "booking" && !Model.confirmDetails)
{


    <input id="validateid" type="submit" onclick="return validateBooking();" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "booking")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'booking');" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "homedelivery")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'homedelivery');" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "takeaway")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'takeaway');" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else
{
    <input id="validateid" type="submit" onclick="return validate();" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}

@if (Model.OrderType != "booking")
{

    if (!Model.confirmDetails)
    {
        <input id="closevalidationid" type="button" onclick="return back();" class="btn btn-default" style="width: 120px; float: left;" value="Back" />


        <br />
        <br />

    }

}
else
{
    <input id="closevalidationid" type="button" onclick="return backBookingTable();" class="btn btn-default" style="width: 120px; float: left;" value="Back" />

    <br />
    <br />

}

