﻿@model Mvc5MobileApplicationSG.Models.AdminPanelModel

<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/Content/POSAppAdminPanel/poschoice.css">
    <script src="~/Scripts/jquery.makedinput-1.3.1.js"></script>
    <script language="javascript">
        jQuery(function ($) {
            $("#pwd").mask("XXXXXXXX");
        });

    </script>
</head>
<body>

    <div class="center">
        @using (Ajax.BeginForm("login", "POSAppAdminPanel", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tabs-1", OnSuccess = "OnSuccess" }, null))
        {

            <div id="logincontent">
                <h4>Login Admin Panel</h4>

                <p>Please enter details</p>

                @Html.Label("User:")
                @Html.TextBoxFor(m => m.User, new { @id = "user" })
                <br />
                <br />
                <label for="name">Pass:</label>
                @Html.TextBoxFor(m => m.Pwd, new { @id = "pwd" })
                <br />

                <br />
                <br />
                <input id="submitlogin" type="submit" value="Login">
                
                <br />

            </div>
            


        }

    </div>

    

</body>
</html>