﻿@model Mvc5MobileApplicationSG.Models.AdminPanelModel

    <html>
    <head>
        <title>Dashboard Orders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="~/Content/POSAppAdminPanel/poschoice.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        

    </head>


    <body>

        <div class="center">
            @using (Ajax.BeginForm("dashboardOrders", "POSAppAdminPanel", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "", OnSuccess = "" }, null))
            {

                <div id="deliverycontent">
                    <h4 class="modal-title">Services</h4>


                    <label for="name">Business (mandatory*):</label>
                    @if (@Model.businessList != null)
                    {
                        @Html.DropDownListFor(m => m.ABN, Model.businessList, new { @id = "ABNid" })
                        <br />
                        <br />

                    }

                </div>
                <br />
                <input type="submit" value="Refresh">
                <br />
            }

        </div>

        @if (Model.Dashboardorders != null && Model.Dashboardorders.Count > 0)
        {

            <div class="divTable">
                <div class="divTableBody">
                    

                    @foreach(var order in @Model.Dashboardorders)
                    {

                   
                        <div class="divTableRow">
                            <div class="divTableCell">@order.order_dt</div>
                            <div class="divTableCell">@order.order_type</div>
                            <div class="divTableCell">@order.payment_type</div>
                            <div class="divTableCell">@order.staked</div>
                            <div class="divTableCell">@order.credit.ToString()</div>
                            <div class="divTableCell">@order.cus_name</div>
                            <div class="divTableCell">@order.cus_phone</div>
                            <div class="divTableCell">@order.address</div>
                        </div>



                      }

                </div>
            </div>


         }

        </body>

    </html>