﻿@model Mvc5MobileApplicationSG.Models.AdminPanelModel

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        function OpenPage(itemno) {
            url = '@Url.Action("itemsPage", "POSAppAdminPanel")';
             $.ajax({
            url: url,
            type: "GET",
            data: { itemno: itemno},
            success: function (results) {
                $("#frame").html(results);
                return false;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
                alert(textStatus);
                alert(errorThrown);
            },

        });
        }
    </script>
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="#" onclick="OpenPage('itemno');" class="w3-bar-item w3-button">Chicken Cashews</a>
        <a href="#" onclick="OpenPage('itemno');" class="w3-bar-item w3-button">Chicken Satay</a>
        <a href="#" onclick="OpenPage('itemno');" class="w3-bar-item w3-button">Chicken Vegetables</a>
    </div>

    <!-- Page Content -->
    <div id="frame" style="margin-left:25%">
    </div>

</body>
</html>

