﻿@model Mvc5MobileApplicationSG.Models.AdminPanelModel
<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/POSAppAdminPanel/poschoice.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">

        function getModifiersFrame() {

                        var url = '@Url.Action("getModifiersFrame", "POSAppAdminPanel")';

                        window.location = url;


        }

        function getDashboardOrders() {

                        var url = '@Url.Action("dashboardOrders", "POSAppAdminPanel")';

                        window.location = url;

        }

        function getCategoryFrame() {

                        var url = '@Url.Action("getCategoryFrame", "POSAppAdminPanel")';

                        window.location = url;

        }

         function getServices() {

                        var url = '@Url.Action("getSErvices", "POSAppAdminPanel")';

                        window.location = url;

        }



    </script>

</head>


<body>
    <div class="center">
        <!--  <input onclick="return getCategoryFrame();" value="Category Setup" />
    <br />
    <br />
    <input onclick="return getModifiersFrame();" value="Group Setup" />
    <br />
    <br />
    <input onclick="return getModifiersFrame();" value="Modifier Setup" />
    <br />
    <br />
    <input onclick="return getItemsFrame();" value="Item Setup" />
    <br />
    <br />
    <input onclick="return getItemsFrame();" value="Delivery Surcharge Setup" />
    <br />
    <br />
    <input onclick="return getItemsFrame();" value="Discount Setup" />
    <br />  -->
        <input onclick="return getDashboardOrders();" value="Dashboard" />
        <br />
        <br />
        <input onclick="return getServices();" value="Services" />
        <br />

        <br />
        <input onclick="return getItemsFrame();" value="Turn All Cloud Service On" />
        <br />
        <br />
        <input onclick="return getItemsFrame();" value="Turn All Cloud Service Off" />
        <br />
        <br />
        <input onclick="return getItemsFrame();" value="Logout" />
    </div>

</body>

</html>