﻿@{
    ViewBag.Title = "Chomolunga";
}

<style>
    img.news-image {
        background: #dadada;
        height: 250px;
        width: 300px;
    }

    p.news-info {
        margin-top: 0;
    }

    .news-item {
        clear: both;
    }

    .odd div.news-info {
        float: right;
    }

    .odd div.news-image {
        float: left;
    }

    .even div.news-info {
        float: left;
    }

    .even div.news-image {
        float: right;
    }



    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .columnLeft {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    .columnRight {
        float: right;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
    }
</style>


<h2>About</h2>


<p style="font-size: 15px">
    Spring Garden has been a well-established restaurant for over 10 years at Kambah Village.
    The restaurant has been developed as a family business where family members closely look after
    the establishment.
</p>

<p style="font-size: 15px">
    Iron chef Peter Lai has been working as a chef for the most prominent Chinese restaurants for over 40 years.
    He decided on establishing his own restaurant to spread his cooking to Canberra south side customers. His knowledge of
    Chinese cuisine is unrivalled in Canberra and most customers who has tasted his cuisines would no doubt agree.

</p>

<p class="news-info" style="font-size: 15px">
    The Chinese cuisines are a fusion of east meets west. These cuisines are standard Chinese dishes that most people would know, such as
    sweet and sour pork, roast duck, chicken cashews and the likes. We endeavour to meet and exceed expectations regarding the quality
    of the food presented with appetizing appeal.
</p>

<img class="news-image" src="~/Content/Chomolungma/images/image1.jpg" />
&nbsp;&nbsp;
<img class="news-image" src="~/Content/Chomolungma/images/image4.jpg" />
&nbsp;&nbsp;
<img class="news-image" src="~/Content/Chomolungma/images/image3.jpg" />
<br />

<!--
        <div class="row">
            <div class="columnLeft" style="background-color:green;">

            </div>
            <div class="columnRight" style="background-color:green;">

            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="columnLeft" style="background-color:green;">

            </div>
            <div class="columnRight" style="background-color:green;">

            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="columnLeft" style="background-color:green;">
                <div class="news-image">

                </div>
            </div>
            <div class="columnRight" style="background-color:green;">
                <div class="news-info">

                </div>
            </div>
        </div>

    -->

<br />
<br />


