﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "delivery";
}

<script>

     function createOrder() {


            var url = '@Url.Action("createOrderNonModel", "Chomolungma")';
            var name = document.getElementById("nameid").value;
            var phone = document.getElementById("phoneid").value;
            var address = document.getElementById("addressid").value;
         var suburb = document.getElementById("suburbid").value;

         if (String(name) == "") {
             alert("Name required");
             return;


         }

         if (String(phone) == "") {
             alert("Phone required");
             return;


         }

         if (String(address) == "") {
             alert("Address required");
             return;


         }

         if (String(suburb) == "") {
             alert("Suburb required");
             return;


         }


            $.ajax({
                url: url,
                type: "POST",
                data: { name: name, phone: phone, address: address, itemno: suburb },
                success: function (results) {
                    $("#tabs-1").html(results);
                    OnSuccess();
                    var closebutton = document.getElementById("hdclose");
                    closebutton.click();
                },


            });

            return false;
    }




</script>

@if (Model.email == null || Model.email.Trim() == "")
{
    <center><h4 class="modal-title" style="font-weight: bold;">Delivery</h4></center>

    <div class="w3-container" id="deliverycontent">
        <h4 style="color: red;font-weight: bold;">Cannot find details</h4>

        <h4>*Please enter details</h4>

        <form style="display: table">
            <div style="display: table-row">
                <label style="display: table-cell;padding-right: 2vw;" for="name">*Name:</label>
                <input style="display: table-cell" id="nameid" class="w3-input" type="text" value="">
            </div>
            <br />
            <div style="display: table-row">
                <label style="display: table-cell;padding-right: 2vw;" for="name">*Phone:</label>
                <input style="display: table-cell" id="phoneid" class="w3-input" type="text" value="">

            </div>
            <br />
            <div style="display: table-row">
                <label style="display: table-cell;padding-right: 2vw;" for="name">*Address:</label>
                <input style="display: table-cell" id="addressid" class="w3-input" type="text" value="">
            </div>
            <br />
            <div style="display: table-row">
                <label for="name" style="display: table-cell;padding-right: 3vw;">*Suburb:</label>
                @if (@Model.TransferItems != null)
                {
                    @Html.DropDownListFor(m => m.itemno, Model.TransferItems, new { @id = "suburbid", style = "width: 200px; height: 30px; display: table-cell;" })

                }

            </div>
        </form>


        <br />
    </div>
    <br />
    <br />
    <input id="submithd" onclick="createOrder();" style="width: 120px; float: left; font-weight: bold;" type="button" value="Create Order">
    <button id="hdclose" onclick="showStuff(document.getElementById('tabs1'));" style="width: 120px; float: right; font-weight: bold;" type="button" data-dismiss="modal">Close</button>
    <br />
}
else
{

<div class="w3-container" id="deliverycontent">
    <center><h4 class="modal-title" style="font-weight: bold;">Delivery</h4></center>
    <h4>*Please enter details</h4>

    <form style="display: table">
        <div style="display: table-row">
            <label style="display: table-cell" for="name">*Name:</label>
            <input style="display: table-cell" id="nameid" class="w3-input" type="text" value="@Model.name">
        </div>
        <br />
        <div style="display: table-row">
            <label style="display: table-cell" for="name">*Phone:</label>
            <input style="display: table-cell" id="phoneid" class="w3-input" type="text" value="@Model.phone">

        </div>
        <br />
        <div style="display: table-row">
            <label style="display: table-cell" for="name">*Address:</label>
            <input style="display: table-cell" id="addressid" class="w3-input" type="text" value="@Model.address">
        </div>
        <br />

    </form>
    <label for="name">*Suburb:</label>
    @if (@Model.TransferItems != null)
    {
        @Html.DropDownListFor(m => m.itemno, Model.TransferItems, new { @id = "suburbid", style = "width: 200px; height: 30px" })

    }
    <br />
</div>
    <br />
    <br />
    <input id="submithd" onclick="createOrder();" style="width: 120px; float: left; font-weight: bold;" type="button" value="Create Order">
    <button id="hdclose" onclick="showStuff(document.getElementById('tabs1'));" style="width: 120px; float: right; font-weight: bold;" type="button" data-dismiss="modal">Close</button>
    <br />

}