﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "getMenuOrder";

}

<style>

    #myBookingBtn {
        display: block;
        position: fixed;
        bottom: 140px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        height: 50px;
        width: 90px;
    }

    #myDeliveryBtn {
        display: block;
        position: fixed;
        bottom: 80px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        height: 50px;
        width: 90px;
    }

    #myPickupBtn {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        height: 50px;
        width: 90px;
    }
</style>

<script>


    $(document).ready(function () {
        $('#items').validate({
            rules: {
                cardnumber: "required",

                cardexpiry: "required",

                cardcvv: "required"
            }
        });
    });

    // When the user clicks on the button, scroll to the top of the document
    function bookingFunction2() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;

        var deliverybutton = document.getElementById("bookingbutton");
        deliverybutton.click();


    }

    // When the user clicks on the button, scroll to the top of the document
    function deliveryFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;

        var deliverybutton = document.getElementById("deliverybutton");
        deliverybutton.click();

    }

    function pickupFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;

        var pickupbutton = document.getElementById("pickupbutton");
        pickupbutton.click();

    }

</script>



@if (@Model != null)
{



    if (Model.name != null && Model.name != "")
    {

        <hiddenbutton id="paymentbutton" style="display: none; " data-toggle="modal" data-target="#paymentsummarymodal" />
        <hiddenbutton id="forcedModifybutton" style="display: none;" data-toggle="modal" data-target="#forcedmodifiermodal" />
        <button onclick="recallbill('@Model.name');" id="myBtn" title="Go to top">View/Amend Order</button>

    }

    if (Model.name == null || Model.name == "")
    {

        <hiddenbutton id="bookingbutton" onclick="showStuff(this);" data-toggle="modal" data-target="#bookingmodal" />
        <hiddenbutton id="deliverybutton" onclick="showStuff(this);" data-toggle="modal" data-target="#deliverymodal" />
        <hiddenbutton id="pickupbutton" onclick="showStuff(this);" data-toggle="modal" data-target="#takeawaymodal" />
        <!-- <button onclick="bookingFunction2()" id="myBookingBtn" title="Booking">Booking</button> -->
        <button onclick="deliveryFunction()" id="myDeliveryBtn" title="Delivery">Delivery</button>
        <button onclick="pickupFunction()" id="myPickupBtn" title="Pickup">Pickup</button>

    }

    <div class="container">
        <!-- Modal -->
        <div id="createdmodal" class="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Order has been created please start selecting your items.</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div style="width:90%;align-items:center;font-size:15px;margin-left:5%">

        <h5>*Gluten free option available on request</h5>

        @if (Model != null && Model.Categories != null)
        {


            if (Model.name != null && Model.name != "")
            {
                for (int i = 0; i < Model.Categories.Count; i++)
                {
                    var categories = Model.Categories;


                    var groups = categories[i].getGroups();
                    for (int j = 0; j < groups.Count; j++)
                    {
                        <hr />
                        <h5>@groups[j].description</h5>
                        <hr />

                        for (int k = 0; k < groups[j].ItemModels.Count; k++)
                        {

                            <div style="font-size: 10px; color: black; display: flex; flex-direction: row; padding-bottom: 10px;">
                                <button id=@groups[j].ItemModels[k].getaddbuttonstr() style="align-self:center; font-size: 15px; color: white; background: green;" onclick="return updateQty('add', '@groups[j].ItemModels[k].getinputboxstr()', '@groups[j].ItemModels[k].itemno', '@groups[j].ItemModels[k].nostock', '@groups[j].ItemModels[k].getForcedModifiers().Count()')"> + </button>
                                <input id=@groups[j].ItemModels[k].getinputboxstr() style="align-self: center; width: 30px; font-size: 15px; color: black;" value="0" type="button"/>
                                <div style="font-size: 15px; word-wrap: normal;">@groups[j].ItemModels[k].itemlongname - $@String.Format("{0:#.00}", @groups[j].ItemModels[k].itemprice)</div>
                            </div>


                        }



                    }
                }


            }
            else
            {
                for (int i = 0; i < Model.Categories.Count; i++)
                {
                    var categories = Model.Categories;



                    var groups = categories[i].getGroups();
                    for (int j = 0; j < groups.Count; j++)
                    {
                        <hr />
                        <h5>@groups[j].description</h5>
                        <hr />

                        for (int k = 0; k < groups[j].ItemModels.Count; k++)
                        {

                            <div style="font-size: 12px; color: black; word-wrap: normal; padding-bottom:10px;">
                                @groups[j].ItemModels[k].itemlongname - $@String.Format("{0:#.00}", @groups[j].ItemModels[k].itemprice)

                            </div>


                        }



                    }


                }


            }

        }

    </div>

}

