﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}
<script>

    function refresh() {

        var url = '@Url.Action("mainPage", "Chomolungma")';

        window.location = url;

    }

</script>

<body>

    <h3>Your Order has been successfully confirmed, deliveries will be delivered within at least 1 hour, pickups ready in at least 30 mins</h3>

   <button id="paymentsuccessclose" onclick="refresh();" type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</body>
