﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

@{
    ViewBag.Title = "paid";
}
<script>

    function refresh() {

        var url = '@Url.Action("mainPage", "Chomolungma")';

        window.location = url;

    }

</script>

<body>

    @using (Ajax.BeginForm("createTakeAway", "Chomolungma", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tabs-1", OnSuccess = "OnSuccess" }, null))
    {

        <div id="deliverycontent">
            <h4 class="modal-title">Pick Up Order</h4>

            <p>Please enter details</p>
            <label for="name">Name:</label>
            @Html.TextBoxFor(m => m.name, new { @id = "tanameid" })
            <label for="name">Phone:</label>
            @Html.TextBoxFor(m => m.phone, new { @id = "taphoneid" })



        </div>
        <br />
        <br />
        <input id="submitta" type="submit" value="Create Order" />
        <button onclick="showStuff(document.getElementById('tabs1'));" id="taclose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <br />
    }


</body>
