﻿@model Mvc5MobileApplicationSG.Models.MenuRetievalModel

<script>


    function validateDetails(email, ordertype) {


            hiddenValidation();
            var url = '@Url.Action("validateDetails", "Chomolungma")';
            var id = document.getElementById("pinid").value;
            document.getElementById("emailid").value = email;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id, ordertype: ordertype },
                success: function (results) {

                    if (ordertype == "homedelivery") {
                        $("#deliveryid").html(results);

                    } else if (ordertype == "takeaway") {
                        $("#takeawayid").html(results);

                    } else {
                        $("#bookingitems").html(results);
                        bookingFunction();
                    }
                },


            });

            return false;
    }

    function validate() {


            hiddenValidation();
            var url = '@Url.Action("validate", "Chomolungma")';
            var id = document.getElementById("pinid").value;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id },
                success: function (results) {
                    $("#items").html(results);
                },


            });

            return false;
    }

    $("#validateid").click(function () {
        if ($("#emailid").val() == "") {
            alert("name field required");
            return false;
        }

        if ($("#mobileid").val() == "") {
            alert("phone field required");
            return false;
        }

        return true;


    });



        function validateBooking() {


            hiddenValidation();
            var url = '@Url.Action("validateBooking", "Chomolungma")';
            var id = document.getElementById("pinid").value;
            $.ajax({
                url: url,
                type: "GET",
                data: { id: id },
                success: function (results) {
                    $("#bookingitems").html(results);
                },


            });

            return false;
    }

            function ModelackBookingTable() {

            hiddenValidation();
            var url = '@Url.Action("bookingTable", "Chomolungma")';

            $.ajax({
                url: url,
                type: "GET",
                data: { },
                success: function (results) {
                    $("#bookingitems").html(results);


                },


            });

            return false;
    }


            function back() {


            hiddenValidation();
            var url = '@Url.Action("back", "Chomolungma")';

            $.ajax({
                url: url,
                type: "GET",
                data: { },
                success: function (results) {

                    $("#items").html(results);

                },


            });

            return false;
    }

    $("#validateid").click(function () {
        if ($("#emailid").val() == "") {
            alert("name field required");
            return false;
        }


        return true;


    });


    function hiddenValidation() {


        $('#validateid').hide();
        $("#processingvalidation").show();
        $('#closevalidationid').hide();


    }


    function showValidationDialog() {

        $('#validateid').show();
        $("#processingvalidation").hide();
        $('#closevalidationid').show();

    };




    function showValidation() {

        $.ajax({
            success: function () {
                // do something

                var paymentclosebutton = document.getElementById("validateid");
                paymentclosebutton.style.display = "block";

                var paymentclosebutton = document.getElementById("closevalidationid");
                paymentclosebutton.style.display = "block";

                var processingbar = document.getElementById("processingvalidation");
                processingbar.style.diplay = "none";


            }
        });
    }


</script>

<h4 style="color: red;">@ViewBag.Invalid</h4>

<h4> Please enter a one time generated ID sent to your email </h4>
<br />
<br />
<label>Generated ID:</label>
<input id="pinid" class="w3-input" type="text" value="" />
<br />
<br />

<label>Email Sent to:</label>
<span id="emailid">@Model.email</span>
<br />
<br />

<div id="processingvalidation" style="display: none"><h5>processing please wait...</h5></div>
<br />

@if (Model.confirmDetails)
{
    <!-- <h4>*if email is incorrect, please send a email to support@poschoice.biz to unlink your phone number to your email so that you can link again,
          meanwhile, please call up or use a different phone number to link</h4> -->


}

@if (Model.OrderType == "booking")
{

    <!--    <input type="button" class="btn btn-default" style="width: 120px; float: left;" value="Resend Pin" /> -->
}
else
{

    <!--    <input type="button" class="btn btn-default" style="width: 120px; float: left;" value="Resend Pin" /> -->


}

@if (Model.OrderType == "booking" && !Model.confirmDetails)
{


    <input id="validateid" type="submit" onclick="return validateBooking();" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "booking")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'booking');" class="btn btn-default" style="width: 120px; float: right;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "homedelivery")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'homedelivery');" class="btn btn-default" style="width: 120px; float: right; font-weight: bold;" value="Confirm" />

}
else if (Model.confirmDetails && Model.OrderType == "takeaway")
{

    <input id="validateid" type="submit" onclick="return validateDetails('@Model.email', 'takeaway');" class="btn btn-default" style="width: 120px; float: right; font-weight: bold;" value="Confirm" />

}
else
{
    <input id="finaliseid" type="submit" onclick="return validate();" class="btn btn-default" style="width: 120px; float: right; font-weight: bold;" value="Finalise" />

}

@if (Model.OrderType != "booking")
{

    if (!Model.confirmDetails)
    {
        <input id="closevalidationid" type="button" onclick="return back();" class="btn btn-default" style="width: 120px; float: left; font-weight: bold;" value="Back" />


        <br />
        <br />

    }

}
else
{

    if (!Model.confirmDetails)
    {
        <input id="closevalidationid" type="button" onclick="return backBookingTable();" class="btn btn-default" style="width: 120px; float: left; font-weight: bold;" value="Back" />

        <br />
        <br />

    }
}

