﻿.logo {
    background-color: #FFFFFF;
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 140px;
    width: 140px;
}


.title {
    color: black;
    margin-left: 1%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    height: 30px;
    width: 500px;
    font-size: 20px;
}

.minorcontact {
    margin-left: 1%;
    background-color: #FFFFFF;
    background-image: url("images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 80px;
    width: 80px;
}

/* top nav start */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

    .navbar a {
        float: left;
        font-size: 10px;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }



/* top nav start */
body, html {
    overflow: visible;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    height: 100%;
    background-color: white;
}

.leftnav {
    overflow: visible;
    background-color: #FFFFFF;
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    font-size: 12px;
}

.topnav {
    background-color: green;
}



    .topnav a {
        top: initial;
        height: 15px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: black;
        }

/* top nav end */



/* list item start */
.btn-group button {
    overflow: visible;
    background-color: #4CAF50; /* Green background */
    color: black; /* White text */
    width: 35%; /* Set a width if needed */
    display: normal; /* Make the buttons appear below each other */
    margin-top: 50px;
    font-size: 17px;
}


/* list item end */


/* list item start */
.btn-items button {
    overflow: visible;
    background-color: #4CAF50; /* Green background */
    color: black; /* White text */
    width: 30%; /* Set a width if needed */
    display: normal; /* Make the buttons appear below each other */
    margin-top: 50px;
    font-size: 17px;
}


.groups {
    margin-top: 10px;
}

/* list item end */


.containersplit {
    overflow: visible;
    width: 100%;
    height: 200px;
    background: green;
    padding: 5px;
}

.one {
    overflow: Visible;
    width: 25%;
    height: 800px;
    background: green;
    float: left;
}

.two {
    overflow: visible;
    margin-left: 25%;
    height: 800px;
    background: green;
}

.modal-dialog {
    overflow-y: initial !important;
    height: 80% !important;
    padding-top: 10%;
}

.modal-body {
    overflow-y: auto;
}


.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: inline-block;
    height: 300px;
    width: 1000px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

#confirm {
    display: none;
    background-color: #F3F5F6;
    color: #000000;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    height: 100px;
    left: 40%;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
}

    #confirm button {
        background-color: #FFFFFF;
        display: inline-block;
        border-radius: 12px;
        border: 4px solid #aaa;
        padding: 5px;
        text-align: center;
        width: 60px;
        cursor: pointer;
    }

    #confirm .message {
        text-align: left;
    }



<!-- hide table -->
.tabContent {
    display: none;
}

.no-bullet {
    list-style-type: none
}


#myBtn {
    display: block;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #myBtn:hover {
        background-color: #555;
    }


.show {
    display: block;
}


